Package: ubic
Version: 1.29
Architecture: all
Maintainer: Vyacheslav Matjukhin (No comments) <mmcleric@yandex-team.ru>
Installed-Size: 788
Depends: libclass-accessor-perl, libhttp-server-simple-perl, libjson-perl, liblist-moreutils-perl, libparams-validate-perl, libparent-perl, libtry-tiny-perl, libwww-perl, perl (>= 5.6.0-16)
Conflicts: yandex-ubic (<< 1.00)
Replaces: yandex-ubic (<< 1.00)
Provides: yandex-ubic
Section: perl
Priority: optional
Description: flexible perl-based service manager
 Each ubic service is represented by perl object, so code reuse is trivial.
 Watchdog, neat color output and SysV-style LSB conformant init scripts are
 supported.
